header.head  
  .wrapper
    .container
      .header
        a.head__logo_a.logo(href='../../pages/index/index.html')
          img(src='../../components/header/img/Logo.svg')
        .header__burger
          span 
        nav.head__menu
          ul
            a(href='#')
              li О нас
            a(href='#')
              li Услуги
            a(href='#')
              li Вакансии
            a(href='#')
              li Новости
            a(href='#')
              li Соглашения
          .head__login
            a.head__login-button(href='../../pages/login/login.html') Войти
            a.head__register-button(href='../../pages/registration/registration.html') Зарегистрироваться
