
<header class="head"> 
  <div class="wrapper">
    <div class="container">
      <div class="header"><a class="head__logo_a logo" href="../../pages/index/index.html"><img src="../../components/header/img/Logo.svg"/></a>
        <div class="header__burger"><span> </span></div>
        <nav class="head__menu">
          <ul><a href="#">
              <li>О нас</li></a><a href="#">
              <li>Услуги</li></a><a href="#">
              <li>Вакансии</li></a><a href="#">
              <li>Новости</li></a><a href="#">
              <li>Соглашения</li></a></ul>
          <div class="head__login"><a class="head__login-button" href="../../pages/login/login.html">Войти</a><a class="head__register-button" href="../../pages/registration/registration.html">Зарегистрироваться</a></div>
        </nav>
      </div>
    </div>
  </div>
</header>