doctype html
html(lang='ru')
  head
    include ../../theme/head.pug
    +head({styles: 'room-info.css', script: '../../components/header/header.js'})
  body
    include ../../components/guests/guests.pug
    include ../../components/guests-dropdown/guests-dropdown.pug
    include ../../components/login-button/button-blue.pug
    include ../../components/arrive-departure/arrive-departure.pug
    include information-about-room/info-about-room.pug
    include impression/impression.pug
    include reviews/reviews.pug
    include order-panel/order-panel.pug
    include ../../components//header/header.html
    section.hotel-room.wrapper
      .hotel-room__photo
        .hotel-room__photo-1
        .hotel-room__photo-2-3
          .hotel-room__photo-2
          .hotel-room__photo-3
      .container
        .about-room
          .about-room-top
            .info-about-room-container
              +info-about-room
            .impression-of-number
              +impression
          .about-room__reviews
            h3.heading Отзывы посетителей номера
            .about-room__reviews-margin
              +reviews({link: 'img/review-photo-1.jpg', name: 'Мурад Сарафанов', date: '5 дней назад', review: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'})
              +reviews({link: 'img/phot1-review-2.png', name: 'Патрисия Стеклышкова', date: 'Неделю назад', review: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент!'})(class='like-button--deactive')
          .about-room-top  
            .about-room__rools
              h3.heading Правила 
              ul.list-rules
                li.h2.no-bold Нельзя с питомцами
                li.h2.no-bold Без вечеринок и мероприятий 
                li.h2.no-bold Время прибытия - после 13:00, а выезд до 12:00
            .about-room__cancel
              h3.heading Отмена 
              p.h2.no-bold Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
        +order-panel  
    include ../../components/footer/footer.html
