
<div class="dropdown-guests">
  <div class="dropdown-guests__selection">
    <div class="dropdown-guests__adults">
      <p class="dropdown-guests__adults--text">Взрослые</p>
      <div class="dropdown-guests__adults--controls"><span class="dropdown-guests__adults--controls-span1"></span>
        <p class="dropdown-guests__adults--controls-number" id="adultNum"> </p><span class="dropdown-guests__adults--controls-span2"></span>
      </div>
    </div>
    <div class="dropdown-guests__kids">
      <p class="dropdown-guests__kids--text">Дети</p>
      <div class="dropdown-guests__kids--controls"><span class="dropdown-guests__kids--controls-span1"></span>
        <p class="dropdown-guests__kids--controls-number" id="kidsNum"> </p><span class="dropdown-guests__kids--controls-span2"></span>
      </div>
    </div>
    <div class="dropdown-guests__babes">
      <p class="dropdown-guests__babes--text">Младенцы</p>
      <div class="dropdown-guests__babes--controls"><span class="dropdown-guests__babes--controls-span1"></span>
        <p class="dropdown-guests__babes--controls-number" id="babesNum"> </p><span class="dropdown-guests__babes--controls-span2"></span>
      </div>
    </div>
  </div>
  <div class="dropdown-guests__buttons">
    <div class="dropdown-guests__clear">Очистить</div>
    <div class="dropdown-guests__apply">Применить</div>
  </div>
</div>