.dropdown-guests {
  width: 318px;
  height: 159px;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  padding: 7px 5px 15px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  font-family: "Montserrat-bold";
}

.dropdown-guests__selection {
  width: 100%;
  height: 104px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dropdown-guests__adults,
.dropdown-guests__kids,
.dropdown-guests__babes {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3px;
  padding-right: 2px;
}
.dropdown-guests__adults--text,
.dropdown-guests__kids--text,
.dropdown-guests__babes--text {
  text-transform: uppercase;
  font-weight: bold;
  color: #1F2041;
  font-size: 12px;
  font-family: "Montserrat-bold";
}
.dropdown-guests__adults--controls,
.dropdown-guests__kids--controls,
.dropdown-guests__babes--controls {
  width: 90px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-guests__adults--controls-span1,
.dropdown-guests__kids--controls-span1,
.dropdown-guests__babes--controls-span1,
.dropdown-guests__adults--controls-span2,
.dropdown-guests__kids--controls-span2,
.dropdown-guests__babes--controls-span2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.dropdown-guests__adults--controls-span1,
.dropdown-guests__kids--controls-span1,
.dropdown-guests__babes--controls-span1 {
  border: 1px solid rgba(31, 32, 65, 0.1);
}
.dropdown-guests__adults--controls-span1::before,
.dropdown-guests__kids--controls-span1::before,
.dropdown-guests__babes--controls-span1::before {
  content: "";
  width: 7px;
  height: 1px;
  background: rgba(31, 32, 65, 0.1);
  position: absolute;
  top: 15px;
  left: 11.5px;
}

.dropdown-guests__adults--controls-span2,
.dropdown-guests__kids--controls-span2,
.dropdown-guests__babes--controls-span2 {
  border: 1px solid rgba(31, 32, 65, 0.3);
}
.dropdown-guests__adults--controls-span2::after,
.dropdown-guests__kids--controls-span2::after,
.dropdown-guests__babes--controls-span2::after {
  content: "";
  width: 1.5px;
  height: 7px;
  background: rgba(31, 32, 65, 0.3);
  position: absolute;
  top: 12px;
  left: 14.5px;
  z-index: 2;
}
.dropdown-guests__adults--controls-span2::before,
.dropdown-guests__kids--controls-span2::before,
.dropdown-guests__babes--controls-span2::before {
  content: "";
  width: 7px;
  height: 1px;
  background: rgba(31, 32, 65, 0.3);
  position: absolute;
  top: 15px;
  left: 11.5px;
}

.dropdown-guests__buttons {
  width: 100%;
  height: 11px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.dropdown-guests__clear,
.dropdown-guests__apply {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  font-family: "Montserrat-bold";
}

.dropdown-guests__apply {
  color: #BC9CFF;
}

.dropdown-guests__clear {
  color: rgba(31, 32, 65, 0.5);
  visibility: hidden;
}

.dropdown-guests__clear--visible {
  visibility: visible;
}

.controls-span-active {
  border: 1px solid rgba(31, 32, 65, 0.3);
}
.controls-span-active::before {
  background: rgba(31, 32, 65, 0.3);
}