.dropdown-guests
    .dropdown-guests__selection
        .dropdown-guests__adults
            p.dropdown-guests__adults--text Взрослые
            .dropdown-guests__adults--controls
                span.dropdown-guests__adults--controls-span1
                p.dropdown-guests__adults--controls-number(id = 'adultNum') 
                span.dropdown-guests__adults--controls-span2
        .dropdown-guests__kids
            p.dropdown-guests__kids--text Дети
            .dropdown-guests__kids--controls
                span.dropdown-guests__kids--controls-span1
                p.dropdown-guests__kids--controls-number(id = 'kidsNum') 
                span.dropdown-guests__kids--controls-span2
        .dropdown-guests__babes
            p.dropdown-guests__babes--text Младенцы
            .dropdown-guests__babes--controls
                span.dropdown-guests__babes--controls-span1
                p.dropdown-guests__babes--controls-number(id = 'babesNum') 
                span.dropdown-guests__babes--controls-span2
    .dropdown-guests__buttons
        .dropdown-guests__clear Очистить
        .dropdown-guests__apply Применить
        