footer.footer-mobile
  img.footer-mobile__img(src='../../components/header/img/Logo.svg')
  p.footer-mobile__txt Copyright © 2018 Toxin отель. Все права зачищены.
  .footer-mobile__social
    a.footer__social(href='#')  
      .tw
      .fb
      .inst
