@charset "UTF-8";
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, input {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-size: normal;
  font-weight: normal;
}

.wrapper {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  box-shadow: 0 0 100px rgba(31, 32, 65, 0.1);
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

p {
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.lux {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;
}

.bold__title {
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  color: #1F2041;
  display: inline-block;
}

.desc-text {
  font-size: 12px;
  line-height: 14px;
  color: rgba(31, 32, 65, 0.5);
  text-decoration: none;
  font-style: normal;
  text-transform: none;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
}

.title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1.2px;
}

.title-smaller {
  font-weight: bold;
  font-size: 19px;
  line-height: 30px;
  color: #1F2041;
  font-family: "Quicksand", sans-serif;
}

.title-small {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

input {
  outline: none;
}
input:hover {
  border-color: rgba(31, 32, 65, 0.5);
}
input:focus {
  border-color: rgba(31, 32, 65, 0.5);
}

.arrow_black {
  content: "";
  font-family: "Material Icons";
  color: rgba(31, 32, 65, 0.5);
  line-height: 20px;
  display: inline-block;
  position: absolute;
  bottom: 5px;
  right: 35px;
  cursor: pointer;
}
.arrow_black::after {
  content: "Óóè";
  font-family: "Material Icons";
  color: rgba(31, 32, 65, 0.5);
  font-size: 24px;
  line-height: 20px;
  display: inline-block;
  position: absolute;
  top: -7px;
}

.arrow-white {
  position: absolute;
  background-color: #e5e5e5;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
.arrow-white .arrow-white__span {
  width: 15px;
  height: 2px;
  position: absolute;
  display: block;
  top: 20px;
  left: 14px;
  background-color: #fff;
  transform: rotate(0deg);
  z-index: 200px;
}
.arrow-white .arrow-white__span::after {
  content: "";
  width: 9px;
  height: 2px;
  position: absolute;
  display: block;
  bottom: 4px;
  left: 6px;
  background-color: #fff;
  transform: rotate(45deg);
}
.arrow-white .arrow-white__span::before {
  content: "";
  width: 9px;
  height: 2px;
  position: absolute;
  display: block;
  top: 4px;
  left: 6px;
  background-color: #fff;
  transform: rotate(-45deg);
}

.about-room__rating {
  width: 311px;
}

.about-room__rating-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.diagram {
  display: inline-flex;
  height: 121px;
  width: 121px;
  border-radius: 50%;
  border: 4px solid #66D2EA;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 30px;
}
.diagram-text {
  display: inline-block;
  margin-top: 26px;
}
.diagram .number {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #BC9CFF;
}
.diagram .votes {
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #BC9CFF;
}

.list-text {
  list-style: none;
}
.list-text .h2 {
  font-weight: normal;
}
.list-text .list {
  position: relative;
}
.list-text .list::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  background-color: #000;
  left: -15px;
  top: 8px;
}
.list-text .first-list::before {
  background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
}
.list-text .second-list::before {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}
.list-text .third-list::before {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.list-text .fourth-list::before {
  background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
}