.prices__range {
  position: relative;
  width: 100%;
  height: 6px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 3px;
}
.prices__range::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: -5px;
  left: 75px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
  z-index: 50;
}
.prices__range::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: -5px;
  left: 160px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
  z-index: 40;
}
.prices__range .prices__selected {
  width: 90px;
  height: 6px;
  position: absolute;
  top: 0px;
  left: 80px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  z-index: 30;
}