mixin price-range(data)
  .price-range(class !=attributes.class)
    .price-range__prices
      p.bold__title Диапазон цены
      p.desc-text.desc-text-price.desc-text-price-right 5 000₽ - 10 000₽
    .price-range__range
      span.prices__selected
    p.desc-text Стоимость за сутки пребывания в номере
