doctype html
html(lang='ru')
  head
    include ../../theme/head.pug
    +head({styles: 'selection.css', script: '../../components/header/header.js'})
  body
    include ../../components/checkbox/checkbox.pug
    include ../../components/guests/guests.pug
    include ../../components/rooms/rooms.pug
    include price-range/price-range.pug
    include page-switch/page-switch.pug
    include ../../components//header/header.html
    .wrapper.wrapper__selection
      .container
        .wrapper__filter
          a.search-filter(href='#') Условия поиска
        .wrapper__conditions
          label(for='arrive' class='label-guests') Даты пребывания в отеле 
            input(type='text' data-range="true" name='arrive'  autocomplete='off' placeholder='19 авг - 23 авг' class='datepicker-here' id='arrive')
            span.arrow_black
          +guests({ placeholder: '3 гостя, 1 младенец', name: 'Гости' })(class='panel__guest')
          .index__guests-dropdown
              include ../../components/dropdown-guests/dropdown-guests.html
          .conditions__price-range
            +price-range
          .checkbox-buttons
            h3.bold__title Checkbox buttons
            +checkbox({text: 'Можно курить'})
            +checkbox({text: 'Можно c питомцами'})
            +checkbox({text: 'Можно пригласить гостей (до 10 человек)'})
          .availability
            h3.bold__title Доступность
            +checkbox({text: 'Широкий коридор'})
            p.desc-text.availability-text Ширина коридоров в номере<br> не менее 91 см.
            +checkbox({text: 'Помощник для инвалидов'})
            p.desc-text.availability-text На 1 этаже вас встретит специалист<br> и проводит до номера
          +guests({ placeholder: '2 спальни, 2 кровати...', name: 'Удобства номера' })(class='panel__guest-facilites')
          +guests-dropdown({ first: 'Спальни', firstnumber: '2', second: 'Кровати', secondnumber: '2', third: 'Ванные комнаты', thirdnumber: '0'})(class='wrapper__guests-dropdown-facilities')
          .additional-amenities    
            h3.bold__title Дополнительные удобства 
            span.arrow_black 

            +checkbox({text: 'Завтрак'})
            +checkbox({text: 'Письменный стол'})
            +checkbox({text: 'Стул для кормления'})
            +checkbox({text: 'Кроватка'})
            +checkbox({text: 'Телевизор'})
            +checkbox({text: 'Шампунь'})
            +checkbox({text: 'Телевизор'})
            +checkbox({text: 'Шампунь'})
            
        .wrapper__rooms
          h1.rooms__title Номера, которые мы для вас подобрали
          .wrapper__best-room   
            +room__block({ photo: 'Photo_1', number: '№ 888', lux: ' ЛЮКС', price: '9 900₽', stars: 'star', stars3: 'star', stars4: 'star', stars5: 'star', reviews: '145'})
            +room__block({ photo: 'Photo_2', number: '№ 840', lux: '', price: '9 900₽', stars: 'star', stars3: 'star', stars4: 'star', stars5: 'star_border', reviews: '65'})
            +room__block({ photo: 'Photo_3', number: '№ 980', lux: ' ЛЮКС', price: '8 500₽', stars: 'star', stars3: 'star', stars4: 'star_border', stars5: 'star_border', reviews: '35'})
            +room__block({ photo: 'Photo_4', number: '№ 856', lux: '', price: '7 300₽', stars: 'star', stars3: 'star', stars4: 'star', stars5: 'star', reviews: '19'})
            +room__block({ photo: 'Photo_5', number: '№ 740', lux: '', price: '6 000₽', stars: 'star', stars3: 'star', stars4: 'star', stars5: 'star_border', reviews: '44'})
            +room__block({ photo: 'Photo_6', number: '№ 982', lux: '', price: '5 800₽', stars: 'star', stars3: 'star', stars4: 'star_border', stars5: 'star_border', reviews: '56'})
            +room__block({ photo: 'Photo_7', number: '№ 678', lux: '', price: '5 500₽', stars: 'star', stars3: 'star', stars4: 'star', stars5: 'star', reviews: '45'})
            +room__block({ photo: 'Photo_8', number: '№ 450', lux: '', price: '5 300₽', stars: 'star', stars3: 'star', stars4: 'star', stars5: 'star_border', reviews: '39'})
            +room__block({ photo: 'Photo_9', number: '№ 350', lux: '', price: '5 000₽', stars: 'star', stars3: 'star', stars4: 'star_border', stars5: 'star_border', reviews: '77'})
            +room__block({ photo: 'Photo_10', number: '№ 666', lux: '', price: '5 000₽', stars: 'star', stars3: 'star', stars4: 'star', stars5: 'star', reviews: '25'})
            +room__block({ photo: 'Photo_11', number: '№ 444', lux: '', price: '5 000₽', stars: 'star', stars3: 'star', stars4: 'star_border', stars5: 'star_border', reviews: '15'})
            +room__block({ photo: 'Photo_12', number: '№ 352', lux: '', price: '5 000₽', stars: 'star', stars3: 'star', stars4: 'star_border', stars5: 'star_border', reviews: '55'})
          .wrapper__page-switch
            +page-switch
    .clr
    include ../../components/footer/footer.html
    script(src= 'selection.js')
    script(src='../../components/dropdown-guests/dropdown-guests.js')
   
