@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/Quicksand Bold 700.eot');
	src: local('☺'), url('../fonts/Quicksand Bold 700.woff') format('woff'), url('../fonts/Quicksand Bold 700.ttf') format('truetype'), url('../fonts/Quicksand Bold 700.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/Quicksand Regular 400.eot');
	src: local('☺'), url('../fonts/Quicksand Regular 400.woff') format('woff'), url('../fonts/Quicksand Regular 400.ttf') format('truetype'), url('../fonts/Quicksand Regular 400.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.eot');
	src: local('☺'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.eot');
	src: local('☺'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
