@charset "UTF-8";
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, input {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-size: normal;
  font-weight: normal;
}

.wrapper {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  box-shadow: 0 0 100px rgba(31, 32, 65, 0.1);
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

p {
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.lux {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;
}

.bold__title {
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  color: #1F2041;
  display: inline-block;
}

.desc-text {
  font-size: 12px;
  line-height: 14px;
  color: rgba(31, 32, 65, 0.5);
  text-decoration: none;
  font-style: normal;
  text-transform: none;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
}

.title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1.2px;
}

.title-smaller {
  font-weight: bold;
  font-size: 19px;
  line-height: 30px;
  color: #1F2041;
  font-family: "Quicksand", sans-serif;
}

.title-small {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

input {
  outline: none;
}
input:hover {
  border-color: rgba(31, 32, 65, 0.5);
}
input:focus {
  border-color: rgba(31, 32, 65, 0.5);
}

.arrow_black {
  content: "";
  font-family: "Material Icons";
  color: rgba(31, 32, 65, 0.5);
  line-height: 20px;
  display: inline-block;
  position: absolute;
  bottom: 5px;
  right: 35px;
  cursor: pointer;
}
.arrow_black::after {
  content: "";
  font-family: "Material Icons";
  color: rgba(31, 32, 65, 0.5);
  font-size: 24px;
  line-height: 20px;
  display: inline-block;
  position: absolute;
  top: -7px;
}

.arrow-white {
  position: absolute;
  background-color: #e5e5e5;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
.arrow-white .arrow-white__span {
  width: 15px;
  height: 2px;
  position: absolute;
  display: block;
  top: 20px;
  left: 14px;
  background-color: #fff;
  transform: rotate(0deg);
  z-index: 200px;
}
.arrow-white .arrow-white__span::after {
  content: "";
  width: 9px;
  height: 2px;
  position: absolute;
  display: block;
  bottom: 4px;
  left: 6px;
  background-color: #fff;
  transform: rotate(45deg);
}
.arrow-white .arrow-white__span::before {
  content: "";
  width: 9px;
  height: 2px;
  position: absolute;
  display: block;
  top: 4px;
  left: 6px;
  background-color: #fff;
  transform: rotate(-45deg);
}

.color-name {
  display: flex;
}

.name-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.color-block {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  margin-right: 40px;
}

.percent {
  font-weight: bold;
  font-family: Quicksand, sans-serif;
  font-style: normal;
  font-size: 19px;
  line-height: 29px;
  color: #1F2041;
}

.name-percent {
  display: flex;
  align-items: center;
}

.hesh {
  font-family: Quicksand, sans-serif;
  font-style: normal;
  font-size: 19px;
  line-height: 29px;
  color: #1F2041;
  text-transform: uppercase;
}

.hesh-color {
  display: flex;
  align-items: center;
}

.text-block {
  display: flex;
}

.h {
  margin-right: 30px;
}

.h__color {
  font-family: Montserrat, sans-serif;
  text-align: right;
  color: rgba(31, 32, 65, 0.25) !important;
}

.h-text__color {
  font-family: Quicksand, sans-serif;
  font-weight: bold;
  color: #1F2041;
}

body {
  background-color: #e5e5e5;
}

.colors-types {
  width: 1440px;
  height: 900px;
  background-color: white;
  position: relative;
}

.colors-block {
  width: 269.26px;
  height: 610px;
  position: absolute;
  left: 149.74px;
  top: 145px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.types {
  position: absolute;
  width: 403px;
  height: 321px;
  left: 846px;
  top: 145px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dark-100 {
  background-color: #1F2041;
}

.dark-75 {
  background: rgba(31, 32, 65, 0.75);
}

.dark-50 {
  background: rgba(31, 32, 65, 0.5);
}

.dark-25 {
  background: rgba(31, 32, 65, 0.25);
}

.dark-5 {
  background: rgba(31, 32, 65, 0.05);
}

.purple {
  background: #BC9CFF;
}

.green {
  background: #6FCF97;
}

.size-24 {
  font-size: 24px;
}

.size-19 {
  font-size: 19px;
  margin-right: 10px;
}

.size-12 {
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 20px;
}

.size-14 {
  font-size: 14px;
  font-weight: normal;
  color: rgba(31, 32, 65, 0.75);
}

.logo {
  background-image: url("../../template/img/logo,png");
  position: absolute;
  top: 30px;
  left: 30px;
}