.room__photo {
  display: flex;
  justify-content: space-between;
  background: url("../img/1.jpg") no-repeat;
  background-size: cover;
  height: 151px;
  width: 100%;
  position: relative;
}

.preview-photo,
.next-photo {
  flex: 0 0 42px;
  position: relative;
  cursor: pointer;
}
.preview-photo::before,
.next-photo::before {
  content: "";
  width: 8px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  transform: rotate(35deg);
  top: 50.3%;
  left: 40%;
}
.preview-photo::after,
.next-photo::after {
  content: "";
  width: 8px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  transform: rotate(-35deg);
  top: 48%;
  left: 40%;
}

.next-photo::after {
  transform: rotate(35deg);
}
.next-photo::before {
  transform: rotate(-35deg);
}

.all-photo {
  position: absolute;
  bottom: 9%;
  right: 6%;
  width: 41.25px;
  height: 7.49px;
  display: flex;
  justify-content: space-between;
}

.first-all-photo,
.second-all-photo,
.third-all-photo,
.fourth-all-photo {
  cursor: pointer;
  width: 7.5px;
  height: 7.49px;
  border-radius: 50%;
  border: 1px solid #fff;
  box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
}

.first-all-photo {
  border: none;
  background-color: #fff;
}

.bottom-card {
  height: 106px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.room__container {
  width: 233px;
  height: 67px;
  margin: 0 auto;
}

.top-room {
  height: 33.5px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.bottom-room {
  height: 33.5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.price_text {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
}

.room-number {
  font-family: "Conv_Quicksand Bold 700", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 17px;
  color: #1f2041;
}

.room-stars {
  width: 120px;
  height: 24px;
}
.room-stars .star {
  color: #BC9CFF;
}

.Photo_2 {
  background-image: url("../img/2.jpg");
}

.Photo_3 {
  background-image: url("../img/3.jpg");
}

.Photo_4 {
  background-image: url("../img/4.png");
}

.Photo_5 {
  background-image: url("../img/5.png");
}

.Photo_6 {
  background-image: url("../img/6.jpg");
}

.Photo_7 {
  background-image: url("../img/7.jpg");
}

.Photo_8 {
  background-image: url("../img/8.jpg");
}

.Photo_9 {
  background-image: url("../img/9.jpg");
}

.Photo_10 {
  background-image: url("../img/10.jpg");
}

.Photo_11 {
  background-image: url("../img/11.jpg");
}

.Photo_12 {
  background-image: url("../img/12.jpg");
}