doctype html
html
  head(lang='ru')
    title block label
    meta(charset='utf-8')
    link(href='../style/fonts.css' rel='stylesheet' )
    link(href='../style/ui-kit-1.css' rel='stylesheet')
  body
    .block1
      .block1__logo
      .block1__label--email
        include ../src/blocks/label/label.html
