mixin page-switch(data) 
  .page-switch
      .switch__page
        ul.switch__ul
          li.first-toggle 1
          li.desc-text 2
          li.desc-text 3
          li.desc-text ...
          li.desc-text 15
          li.li__arrow
            .arrow-white
              .arrow-white__span 
      .switch__info
        p 1 – 12 из 100+ вариантов аренды
