
<footer class="footer">
  <div class="wrapper">
    <div class="container">
      <div class="footer__top"> 
        <div class="footer__info"><a class="footer__logo_a" href="../../pages/index/index.html">
            <div class="footer__logo"><img src="../../components/header/img/Logo.svg"/></div></a>
          <div class="footer__description">
            <p>Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»</p>
          </div>
        </div>
        <table class="footer__table">
          <thead>
            <tr>
              <th><a href='#'>Навигация</a></th>
              <th><a href='#'>О Нас</a></th>
              <th><a href='#'>Служба поддержки</a></th>
              <th><a href='#'>Подписка</a></th>
            </tr>
          </thead>
          <tbody>   
            <tr>
              <td><a href='#'>О нас</a></td>
              <td><a href='#'>О сервисе</a></td>
              <td><a href='#'>Соглашения</a></td>
              <td class="rowspan" rowspan="2"><a href='#'>Получайте специальные предложения и новости сервиса</a></td>
            </tr>
            <tr>
              <td><a href='#'>Новости</a></td>
              <td><a href='#'>Наша команда</a></td>
              <td><a href='#'>Сообщества </a></td>
            </tr>
            <tr>
              <td><a href='#'>Служба поддержки</a></td>
              <td><a href='#'>Вакансии</a></td>
              <td><a href='#'>Связь с нами</a></td>
              <td class="form"> 
                <input class="email" type="text" name="text" placeholder="Email" id="email"/><span> </span>
              </td>
            </tr>
            <tr>
              <td><a href='#'>Услуги</a></td>
              <td><a href='#'>Инвесторы </a></td>
              <td></td>
              <td> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="border">           
      <div class="container">                                               
        <div class="footer__bottom">
          <div class="footer__copyright">
            <p>Copyright © 2018 Toxin отель. Все права зачищены.</p>
          </div><a class="footer__social" href="#"> 
            <div class="tw"></div>
            <div class="fb"></div>
            <div class="inst"></div></a>
        </div>
      </div>
    </div>
  </div>
</footer>