footer.footer
  .wrapper
    .container
      .footer__top  
        .footer__info
          a.footer__logo_a(href='../../pages/index/index.html')
            .footer__logo
              img(src='../../components/header/img/Logo.svg')
          .footer__description
            p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        table.footer__table
          thead
            tr
              th <a href='#'>Навигация</a>
              th <a href='#'>О Нас</a>
              th <a href='#'>Служба поддержки</a>
              th <a href='#'>Подписка</a>
          tbody    
            tr
              td <a href='#'>О нас</a>
              td <a href='#'>О сервисе</a>
              td <a href='#'>Соглашения</a>
              td(class='rowspan' rowspan='2') <a href='#'>Получайте специальные предложения и новости сервиса</a>
            tr
              td <a href='#'>Новости</a>
              td <a href='#'>Наша команда</a>
              td <a href='#'>Сообщества </a>
            tr
              td <a href='#'>Служба поддержки</a>
              td <a href='#'>Вакансии</a>
              td <a href='#'>Связь с нами</a>
              td(class='form') 
                input(type='text' name='text' placeholder='Email' id='email' class='email')
                span 
            tr
              td <a href='#'>Услуги</a>
              td <a href='#'>Инвесторы </a>
              td
              td 
    .border            
      .container                                                
        .footer__bottom
          .footer__copyright
            p Copyright © 2018 Toxin отель. Все права зачищены.
          a.footer__social(href='#')  
            .tw
            .fb
            .inst
