.color-name {
  display: flex;
  justify-content: space-between;
}

.name-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.name-percent {
  font-weight: bold;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #1F2041;
}

.hesh-color {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #1F2041;
  text-transform: uppercase;
}