mixin info-about-room
  .info-about-room
    .title-smaller Сведения о номере
    .info__block.info__block-1
      i(class="material-icons info__block-1-photo") insert_emoticon
      .room-advantage
        p.title-small Комфорт
        p.desc-text Шумопоглощающие стены
    .info__block.info__block-2
      i(class="material-icons info__block-2-photo") location_city
      .room-advantage
        p.title-small Удобство
        p.desc-text Окно в каждой из спален
    .info__block.info__block-3
      i(class="material-icons info__block-2-photo") whatshot
      .room-advantage
        p.title-small Уют 
        p.desc-text Номер оснащен камином
