header.header-login
  .header-login--container
    .header-login__logo
      img(src='../../components/header/img/Logo.svg')
    nav.header-login__menu
      ul.header-login__menu--items
        li О нас
        li Услуги
        li Вакансии
        li Новости
        li Соглашения
        li.vertical-line
        li Юлий Цезарь
        
        
              
        
        
